@import 'reset';
html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}
.navbar {
  margin-bottom: 0;
  ul {
    a {
      font-weight: 700;
      font-family: 'Roboto';
    }
  }
}
.section-wrapper {
  padding-top: 30px;
  padding-bottom: 30px
}
.img-wrapper {
  img{
  width: 100%;
  height: 250px;
  }
}
.selected {
  a {
    color: $gold !important;
  }
}

.fa-5x:hover {
  color: $gold;
}
#ourMission {
  background-color: $lightgray;
  color: #3e4754;
  .title {
    color: $blue;
    font-size: 32px;
    font-family: 'Roboto';
    margin-bottom: 20px;
  }
}
#mapping {
  height: 300px;
  margin-top: 10px;
  border: 4px solid $lightgray;
 }
video {
  width: 100% ;
  height: auto ;
}
.modal {
  color: #25325c;
}
#carousel-section img{
  max-height: 400px;
  width: 100%;
}

footer {
  background-color: $blue;
  color: white;
  a {
    color: $gold;
  }
}
